.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.screen {
  width: 80%;
  height: 200px;
}

.inner {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(15, 50px);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  padding: 3px;
}

.pul:nth-child(14) {
  grid-column-start: 14;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 2;
}

.pul:nth-child(15) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.pul:nth-child(29) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pul:nth-child(41) {
  grid-column-start: 14;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pul:nth-child(42) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.pul:nth-child(54) {
  grid-column-start: 14;
  grid-column-end: 16;
  grid-row-start: 4;
  grid-row-end: 5;
}

.pul:nth-child(58) {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.pul {
  border: 1px solid black;
  background-color: rgb(126, 124, 124);
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 3px;
  padding: 3px;
}

.up {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}

.down {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top: 10px solid black;
}

.left {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-right: 10px solid black;
}

.right {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-left: 10px solid black;
}

.active {
  background-color: rgb(83, 83, 245);
}
